@import '../utils/variables';
@import '../utils/mq';
@import '../utils/mixins';

// Not following BEM since this is for NPE projects
edge-section {
    --spacing: 0;
    display: block;

    &.edge-tm {

        &-dark-blue {
            background-color: $brand-blue-navy;
            color: $brand-gray-light;
        }

        &-light-gray {
            background-color: $brand-gray-light;
            color: $brand-blue-navy;
        }

        &-light-blue {
            background-color: $brand-blue-flat;
            color: $brand-gray-light;
        }
    }
}

.edge-tm {
    max-width: 1340px;
    min-height: 600px;

    [data-edge="left"] & {
        margin-right: var(--spacing);
        margin-left: auto;
    }

    [data-edge="right"] & {
        margin-left: var(--spacing);
        margin-right: auto;
    }

    @include mq($until: lg) {

        [data-edge="left"] &,
        [data-edge="right"] & {
            margin-right: 0;
            margin-left: 0;
        }
    }

    &-wrapper {

        [data-edge="left"] & {
            flex-direction: row-reverse;
        }

        [data-edge="right"] & {
            flex-direction: row;
        }

        @include mq($until: lg) {
            flex-direction: column !important;
        }
    }

    &-media,
    &-content {
        flex: 0 0 50%;
        max-width: 50%;

        @include mq($until: lg) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    &-content {
        padding: 40px 30px;

        @include mq($from: md) {
            padding-left: $padding-side * 2;
            padding-right: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    &-media {
        position: relative;
        padding-top: 60%;
        background-color: $brand-gray-dark;

        img {
            @include image-ratio();
        }

        @include mq($until: md) {
            padding-top: 90%;
        }
    }

    &-text {

        @include mq($from: md) {
            padding-right: 90px;
            height: 100%;
        }

        p,
        .edge-tm-title {
            color: inherit;
        }

        .edge-tm-title {
            @include mq($from: md) {
                margin-bottom: 17px;
            }
        }
    }

    &-subheading {
        @include mq($from: md) {
            margin-bottom: 20px;
        }
    }

    &-description {
        margin-bottom: 15px;

        @include mq($from: md) {
            margin-bottom: 30px;
        }
    }

    &-button {
        flex-wrap: wrap;

        .button {
            &:first-child {
                margin-bottom: 17px;
            }

            @include mq($from: md) {
                &:first-child {
                    margin-right: 17px;
                    margin-bottom: 17px;
                }

            }
        }
    }
}